<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <define name="Group of grouping">
  <include name="group1"></include>
  <include name="group2"></include>

  </define>
  <run>
  <exclude name="group3"></exclude>
  <exclude name="Group of grouping"></exclude></run>
  
  </groups>
    <classes>
      <class name="org.testngsample.TestNGGroup"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
